<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="T4Toolbox.tt" #>
<#
// <copyright file="Script1.tt" company="Microsoft">
//  Copyright © Microsoft. All Rights Reserved.
// </copyright>


#>
