<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".txt" #>

using System;

namespace T4ConsoleApp
{
    class Program
    {
        static void Main(string[] args)
        {
			
            Console.WriteLine("hello,{0}!", "Friday");
        }
    }
}
